# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Heavy files - prod
*.root
*.lhe
*.hepmc

FastSim/Delphes/
FastSim/FAC2dataformat/
FastSim/HepMC/
FastSim/MadGraph5_v1_5_3/
FastSim/Prod_S1/
FastSim/pythia8170/
FastSim/UFO/

GENtoHLT/CMSSW_5_3_11/bin/
GENtoHLT/CMSSW_5_3_11/cfipython/
GENtoHLT/CMSSW_5_3_11/config/
GENtoHLT/CMSSW_5_3_11/doc/
GENtoHLT/CMSSW_5_3_11/include/
GENtoHLT/CMSSW_5_3_11/lib/
GENtoHLT/CMSSW_5_3_11/logs/
GENtoHLT/CMSSW_5_3_11/objs/
GENtoHLT/CMSSW_5_3_11/python/
GENtoHLT/CMSSW_5_3_11/.SCRAM/
GENtoHLT/CMSSW_5_3_11/test/
GENtoHLT/CMSSW_5_3_11/tmp/
GENtoHLT/CMSSW_5_3_11/src/Prod_S1/

GENtoRECO/CMSSW_5_3_11/bin/
GENtoRECO/CMSSW_5_3_11/cfipython/
GENtoRECO/CMSSW_5_3_11/config/
GENtoRECO/CMSSW_5_3_11/doc/
GENtoRECO/CMSSW_5_3_11/include/
GENtoRECO/CMSSW_5_3_11/lib/
GENtoRECO/CMSSW_5_3_11/logs/
GENtoRECO/CMSSW_5_3_11/objs/
GENtoRECO/CMSSW_5_3_11/python/
GENtoRECO/CMSSW_5_3_11/.SCRAM/
GENtoRECO/CMSSW_5_3_11/test/
GENtoRECO/CMSSW_5_3_11/tmp/
GENtoRECO/CMSSW_5_3_11/src/Prod_S1/

LHEtoGEN/eric/crab/
LHEtoGEN/eric/pythia8153/
LHEtoGEN/eric/crab4prod.tgz
LHEtoGEN/CMSSW_5_3_13/bin/
LHEtoGEN/CMSSW_5_3_13/cfipython/
LHEtoGEN/CMSSW_5_3_13/config/
LHEtoGEN/CMSSW_5_3_13/doc/
LHEtoGEN/CMSSW_5_3_13/external/
LHEtoGEN/CMSSW_5_3_13/include/
LHEtoGEN/CMSSW_5_3_13/lib/
LHEtoGEN/CMSSW_5_3_13/logs/
LHEtoGEN/CMSSW_5_3_13/objs/
LHEtoGEN/CMSSW_5_3_13/python/
LHEtoGEN/CMSSW_5_3_13/.SCRAM/
LHEtoGEN/CMSSW_5_3_13/test/
LHEtoGEN/CMSSW_5_3_13/tmp/
LHEtoGEN/CMSSW_5_3_13/src/GeneratorInterface/
LHEtoGEN/CMSSW_5_3_13/src/Prod_S1/

Prod_LHE/MadGraph5_v1_5_3/
Prod_LHE/Prod_S1/
Prod_LHE/UFO/

Pythia8_standalone/CMSSW_5_3_11/
Pythia8_standalone/CMSSW_5_3_13/
Pythia8_standalone/pythia8153/
Pythia8_standalone/pythia8170/
Pythia8_standalone/pythia8186/

